.NewBgSigmaOne{
    background-image: url("../../Assets/Images/sigma-ban-1_.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.NewBgSigmaTwo{
    background-image: url("../../Assets/Images/sigma-ban-2_.jpg");
    background-position: center;
    background-repeat: no-repeat;
}